/*\
|*|     Global
\*/

:root {
    --border-color: rgb(16, 17, 71);
    --border-thickness: .1rem;
}

body {
    font-family: sans-serif;
}

/*\
|*|     App
\*/

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 3rem auto;
  
    border: var(--border-thickness) solid var(--border-color);
    border-radius: .3rem;
}